.App {
  text-align: center;
}

.App-header {
  background-color: #6a94b1;
  padding: 20px;
  color: white;
}

.geoform {
  padding: 10px 0;
}

.geoform input {
  display: inline-block;
  margin: 5px 5px;
}

.geoform .text-input {
  width: 70%;
}

.geoform div {
  padding: 5px 0;
}

.geoform .table-section {
  text-align: left;
  width: auto;
  padding: 0 5%;
}

.geoform .table-section td {
  cursor: pointer;
}
