.App {
  text-align: center;
}

.App-header {
  background-color: #6a94b1;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.geoform {
  padding: 10px 0;
}

.geoform label {
  display: inline-block;
  padding: 5px 0;
}

.geoform input {
  display: inline-block;
  margin: 5px 5px;
}

.geoform .text-input {
  width: 70%;
}

.geoform .text-input-hide {
  border: none;
  border-color: transparent;
  display: hidden;
  width: 0;
}

.geoform div {
  padding: 5px 0;
}

.geoform .table-section {
  text-align: left;
  width: auto;
  padding: 0 5%;
}

.geoform .table-section td {
  cursor: pointer;
}